*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 790px) {
  .card{
    background-color: black ;
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .All_Cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}  

body {
  font-family: sans-serif;
  color: white;
}

nav {
  background-color: black;
  color: white;
  padding: 14px;
  top: 0;
  position: sticky;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header {
  background: linear-gradient(to right, black, #5b6367);
  color: white;
  padding: 50px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

header img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

section {
  padding: 50px;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

section ul {
  list-style: none;
}

section li {
  margin-bottom: 20px;
}

section li h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

section li p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#about p {
  font-size: 22px;
}

#skills li {
  font-size: 24px;
}

section li a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

section li a:hover {
  background-color: white;
  color: black;
}

footer {
  background: linear-gradient(to right, black, #5b6367);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 1rem;
}

footer a {
  display: inline-block;
  margin-right: 10px;
}

footer img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.card {
  background-color: black;
  color: white ;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card:hover{
  background-color: white;
  color: black;
}


.All_Cards {
  display: flex;
  justify-content: space-around;
}

.links {
  text-decoration: none;
  font-weight: bold;
}